/* estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Jaldi", sans-serif;
}

body{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

/* estilo do header */
header{
    padding: 40px 4%;
    background-color: #BAB7E1B2;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    padding: 0 1px;
}

header h1{
    padding: 0 0px;
    font-size: 20px;
    color: black;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block; 
    transition: .2s;   
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 6px;
}

header .btn-login button{
    padding: 10px 40px;
    margin: 0px 0px;
    font-size: 18px;
    font-weight: 700;
    background-color: #3B7DE9CC;
    border: 0;
    border-radius: 90px;
    cursor: pointer;
    color: #ffffff;
}

/* estilo do about */

section .about{
    padding: 40px 4%;
    margin: 100px 100px;
    box-sizing: border-box;
}

section .about .topo-do-site{
    background-image: url('background.png');
}

section .topo-do-site .flex{
    padding: 40px 30px;
    align-items: center;
    justify-content: center;
}

.about .txt-topo{
    position: absolute;
}

.about .txt-topo h1{
    padding: 10px 10px;
    font-size: 48px;
    margin: 10px 50px;
    text-align: justify;
    text-shadow: 0 5px 10px rgb(49, 48, 48);
}

.about .txt-topo p{
    padding: 30px 20px;
    margin: 90px 360px ;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.about .btn-conheca button{
    position: absolute;
    padding: 1px 70px;
    margin: 168px 370px;
    font-size: 40px;
    background-color: #3B7DE9CC;
    border: 0;
    border-radius: 90px;
    cursor: pointer;
    color: #ffffff;
}

.about .img-top{
    padding: 40px 4%;
    margin: 40px 40px;
}

/* estilo do sobre */

section .sobre{
    padding: 90px 4%;
    gap: 40px;
}

.sobre .interface{
    background-image: url(background2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.sobre .txt-sobre h2{
    padding: 40px 4%;
    margin: 30px 40px;
    text-align: justify;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 10px 10px rgb(49, 48, 48);
}

.sobre .txt-sobre p{
    padding: 30px 4%;
    margin: 40px 40px;
    font-size: 24px;
    text-align: justify;
    font-weight: 500;
    line-height: 30px;
}

/* estilo dos cursos */

section .cursos{
    padding: 90px 4%;
    margin: 90px 90px;
    gap: 90px;
}

.cursos .interface{
    background-image: url(background3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.cursos .txt-curso{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 4%;
    margin: 5px 500px;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 5px 10px rgb(49, 48, 48);
}

.cursos .img-curso{
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}

/* estilo do professores */

section .professores{
    padding: 90px 4%;
    margin: 90px 90px;
    gap: 90px;
}

.professores .interface{
    background-image: url(background3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.professores .txt-prof{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 4%;
    margin: 5px 450px;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 5px 10px rgb(49, 48, 48);
}

.professores .img-prof{
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}

/* estilo do footer */

footer{
    padding: 60px 10px;
    background-color: #BAB7E1B2;
    border: 10px black;
}

footer .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul li{
    display: inline-block;
    padding: 20px 5px;
}

footer ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

footer .txt-footer{
    text-align: center;
    margin: 0 200px;
}

.txt-footer h2{
    font-size: 20px;
}

.txt-footer p{
    font-size: 20px;
}

footer .txt-social{
    font-size: 20px;
}

footer .btn-social button{
    display: block;
    height: 50px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 20px 100px;
}